<%= simple_form_for [:admin, @policy] do |f| %>

  <div class="group">
    <%= f.input :title, :label => "文件名称" %>
  </div>

  <% if @policy.image.present? %>
   <span>目前图片</span>

   <%= image_tag(@policy.image.thumb.url) %>
  <% end %>

  <div class="group">
    <%= f.input :image, as: :file %>
  </div>

  <div class="group">
    <%= f.input :description, as: :ckeditor, input_html: { ckeditor: { toolbar: 'mini' } }, :label => "内容" %>
  </div>


  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
