<!-- <nav class="navbar navbar-default navbar-fixed-top navbar-style" role="navigation">
  <div class="container">
    <div class="navbar-header nav-container">
      <a  href="/" class="navbar-brand ">下埔村精准扶贫精准脱工作网</a>
    </div>

    <div class="navbar-collapse navbar-ex1-collapse collapse " aria-expanded="false">
      <ul class="nav navbar-nav">

        <li>
          <%= link_to("贫困户", poorfarmers_path) %>
        </li>
        <li>
          <%= link_to("减贫成效", ) %>
        </li>
        <li>
          <%= link_to("精准帮扶", ) %>
        </li>
        <li>
          <%= link_to("扶贫资金", ) %>
        </li>
        <li>
          <%= link_to("精准识别", ) %>
        </li>
        <li>
          <%= link_to("文件政策", ) %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>

          <li><%= link_to("注册", new_user_registration_path) %></li>
          <li><%= link_to(content_tag(:i, "登录", class: "fa fa-sign-in"), new_user_session_path) %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Hi!, <%= current_user.email %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to("管理后台", admin_poorfarmers_path) %></li>
              <li><%= link_to(content_tag(:i, "退出", class: "fa fa-sign-out"), destroy_user_session_path, method: :delete) %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav> -->


<nav class="navbar navbar-default navbar-fixed-top navbar-style" role="navigation">
  <div class="container">
    <div class="col-md-4">
      <div class="navbar-header nav-container">
        <!-- <img src="http://oon3erbcp.bkt.clouddn.com/%E6%97%8B%E8%BD%AC%E5%88%807.png"> -->
        <a  href="/" class="navbar-brand ">下埔村精准扶贫精准脱贫工作网</a>
      </div>
    </div>
    
    <div class="col-md-6">
    <!-- 菜单 -->
    <div class="navbar-collapse navbar-ex1-collapse collapse " aria-expanded="false">
      <ul class="nav navbar-nav">
        <!-- <li>
          <%= link_to("首页", href="/") %>
        </li> -->
        <li>
          <%= link_to("贫困户", poorfarmers_path) %>
        </li>
        <li>
          <%= link_to("减贫成效", ) %>
        </li>
        <li>
          <%= link_to("精准帮扶", ) %>
        </li>
        <li>
          <%= link_to("扶贫资金", ) %>
        </li>
        <li>
          <%= link_to("精准识别", ) %>
        </li>
        <li>
          <%= link_to("文件政策", ) %>
        </li>
      </ul>
      </div>
    </div>
      <div class="col-md-2">
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>

          <li><%= link_to("注册", new_user_registration_path) %></li>
          <li><%= link_to(content_tag(:i, "登录", class: "fa fa-sign-in"), new_user_session_path) %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.email %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to("管理后台", admin_poorfarmers_path) %></li>
              <li><%= link_to(content_tag(:i, "退出", class: "fa fa-sign-out"), destroy_user_session_path, method: :delete) %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
    </div>
  </div>
</nav>
