<!DOCTYPE html>
<html>
<head>
  <title>Pr 后台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render "common/navbar" %>
    <div class="row">
      <div class="col-md-2 nav-left-style text-center">
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
          <br><br>
          <li> <%= link_to("分  类", admin_categories_path) %></li>
          <br>
          <li> <%= link_to("新农村", admin_villages_path) %> </li>
          <br>
          <li> <%= link_to("贫困户", admin_poorfarmers_path) %> </li>
          <br>
          <li> <%= link_to("减贫成效", admin_effects_path) %> </li>
          <br>
          <li> <%= link_to("精准帮扶", admin_aids_path) %> </li>
          <br>
          <li> <%= link_to("扶贫资金", admin_funds_path) %> </li>
          <br>
          <li> <%= link_to("精准识别", admin_judgments_path) %> </li>
          <br>
          <li> <%= link_to("文件政策", admin_policies_path) %> </li>
        </ul>

      </div>
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
